{
  "singleQuote": true,
  "semi": false,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "arrowParens": "always",
  "vueIndentScriptAndStyle": false,
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
