/*
* === GRID BREAKPOINTS ===
*/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  hd: 1440px,
  fhd: 1680px
) !default;

/*
* === COLORS ===
*/
$white:         #FFFFFF !default;
$gray-100:      #F9F9FA !default;
$gray-500:      #BFC5C9 !default;
$gray-900:      #374047 !default;
$black:         #0A0A0A !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "500": $gray-500,
  "900": $gray-900,
), $grays);

$primary:         #FF9900 !default;
$secondary:       #142534 !default;
$success:         #34A355 !default;
$danger:          #F5513D !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "danger":     $danger,
), $theme-colors);

$body-bg:           $gray-100 !default;
$body-text:         $secondary !default;

/*
* === SPACING ===
*/

$spacer: 1rem !default;

$padding-base: $spacer !default;
$margin-base: $spacer !default;

/*
* === FONT SIZES ===
*/
$font-size-base:              1.5rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .75) !default;
$font-size-xs:                ($font-size-base * .5) !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      .75rem !default;
$headings-font-family:        inherit !default;
$headings-font-weight:        500 !default;
$headings-letter-spacing:     1 !default;
$headings-line-height:        1.2 !default;
$headings-color:              inherit !default;

$display1-size:               $font-size-base * 6 !default;
$display2-size:               $font-size-base * 5.2 !default;
$display3-size:               $font-size-base * 4.5 !default;
$display4-size:               $font-size-base * 3.5 !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

$body1-font-size:             $font-size-base !default;
$body1-line-height:           1.5 !default;
$body2-font-size:             ($font-size-base * .875) !default;
$body2-line-height:           1.5 !default;

$lead-font-size:              ($font-size-base * 1.5) !default;
$lead-font-weight:            300 !default;

$caption-font-size:           ($font-size-base * .75) !default;
$caption-font-weight:         300 !default;

$overline-font-size:          ($font-size-base * .65) !default;
$overline-font-weight:        700 !default;
$overline-letter-spacing:     1px !default;

/*
* === EFFECTS ===
*/
$box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08), 0 4px 4px 0 rgba(0, 0, 0, 0.12);
$border-radius: .75rem;

/*
* === ANIMATION ===
*/
$transition-ease: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

/*
* === CONTAINER ===
*/
$container-max-width:         1440px !default;
$container-padding:           $padding-base * 4.25 !default;
$container-padding-sm:        $padding-base * 2 !default;

/*
* === NAVIGATION ===
*/
$nav-bg:                      $secondary !default;
$nav-color:                   $gray-100 !default;
$nav-color-hover:             darken($nav-color, 25%) !default;

$navbar-padding:              1rem !default;

$nav-items-gap:               $spacer * 2 !default;

/*
* === CARD ===
*/

$card-bg:                     $gray-100 !default;
$card-box-shadow:             $box-shadow !default;
$card-border-radius:          $border-radius !default;
$card-padding-x:              $spacer * 2.5 !default;
$card-padding-y:              $spacer * 2.5 !default;
$card-padding:                $card-padding-x $card-padding-y !default;

/*
* === ALERT ===
*/

$alert-bg:                    $white !default;

$alert-border-width:          2px !default;
$alert-border-style:          solid !default;
$alert-border-color:          $secondary !default;
$alert-border-radius:         $border-radius;

$alert-color:                 $secondary !default;
$alert-font-size:             $font-size-base !default;
$alert-font-weight:           500 !default;

$alert-margin:                0 0 $spacer 0 !default;
$alert-padding:               $spacer $spacer * 3 $spacer $spacer !default;

$alert-close-width:           $font-size-base * 1.33 !default;
$alert-close-height:          $alert-close-width !default;
$alert-close-font-size:       $alert-close-width !default;

$alert-success:               $success !default;
$alert-danger:                $danger !default;

/*
* === FORM ===
*/

$form-bg:                     $body-bg !default;
$form-bg-hover:               lighten($form-bg, 2%) !default;
$form-color:                  $body-text !default;
$form-border:                 2px solid $body-text !default;

$form-control-padding:        $spacer $spacer * 1.25 !default;

$form-label-font-weight:      500 !default;
$form-label-letter-spacing:   1px !default;

/*
* === BUTTON ===
*/

$btn-bg:                      $secondary !default;
$btn-bg-hover:                lighten($secondary, 5%) !default;
$btn-color:                   $white !default;
$btn-font-size:               $font-size-base !default;
$btn-font-weight:             500 !default;

$btn-border:                  none !default;
$btn-border-radius:           $border-radius !default;
$btn-padding:                 $spacer / 2 !default;
